build/*
cmake-build-debug/*
*.pyc
contiki/obj_sky/*
.cproject
.project
.pydevproject
contiki/symbols.*
contiki/*.a
contiki/*.map
contiki/*.ihex
contiki/*.sky
examples/*.py
tests/*.py
*.npy
*~
*.npy
.idea/*
**/.DS_Store
